.super-mario {
    width: 200px;
    position: absolute;

  }
  
  .goomba {
    width: 100px;
    position: absolute;
  }
  
  .baloon {
    width: 100px;
  
  }
  
  .speach {
    font-size: 25px;
  }
  
  .bowser {
    width: 200px;
  }